.item img {
    width: 80%;
    height: auto;
    margin-left: 10%;
}

.item-quantity-warning {
    height: 22px;
    text-align: center;
}

.item-title {
    height: 22px;
    text-align: center;
}

.item-price {
    position: absolute;
    top: 20px;
    right: 14%;
    background-color: yellow;
    border: 1px black;
    width: 60px;
    text-align: center;
}

.item-image-sold-out img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.item-quantity-warning {
    position: absolute;
    top: 75%;
    left: 0px;
    width: 100%;
}