.pagination-buttons div {
    color: white;
    font-weight: bold;
    background-color: salmon;
    text-align: center;
    margin: 4px;
    padding: 0px 6px;
}

.pagination-buttons div:hover {
    cursor: pointer;
}

.pagination-buttons {
    display: flex;
    flex-direction: row;
    margin: auto;
}